<div class="form">
  <% if @lecture.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <% @lecture.errors.full_messages.each do |msg| %>
        <%= msg %><br>
        <% end %>
    </div>
  <% end %>
<div class="form_box">
  <%= simple_form_for @lecture do |f|%>
    <%= f.label :title%>
    <%= f.text_field :title%>
    <%= f.input :institution%>
    <%= f.input :year%>
    <%= f.input :date%>
    <%= f.input :link%>
    <%= f.input :description%>
    <%= f.button :submit%>
  <%end%>
</div>

</div>
