<div class="row">
      <div class="col-md-5">
        <div class="book_wrapper">
          <div class="book2">
            <% if @book.photoLink.nil?%>
              <%else%>
                <%= image_tag @book.photoLink %>
            <%end%>
          </div>
        </div>
      </div>
  <div class="col-md-7">
    <h2> <%= @book.fullTitle%> </h2>
    <h3> <%= @book.year%> </h3>
    <p> <%= @book.description%> </p>
    <p> <%= @book.contributors%> </p>

    <h3><div class="link">
    <%=link_to "Buy Now", @book.amazonLink, target: '_blank'%>
  </div></h3>
  </div>
</div>
</div>
