<div class="about">
    <div class="about_image">
      <% if @book.photoLink.nil?%>
        <%else%>
          <%= image_tag @book.photoLink %>
      <%end%>
    </div>
  <div class="about_text">
      <h3> <%= @book.fullTitle%> </h3>
      <h4> <%= @book.year%> </h4>
      <p> <%= @book.description%> </p>
      <p> <%= @book.contributors%> </p>
      <h3><div class="link">
      <%=link_to "Buy It Here", @book.amazonLink, target: '_blank'%>
    </div></h3>
  </div>
</div>
